<!DOCTYPE html>
<html>
<head>
  <title>DBC Campus</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Choose your DBC campus</h1>
  <p>Here at DBC we have multiple wonderful campuses depending on where you are in the country. Enjoy New York (for some reason)? We got you covered. Enjoy a polar vortex now and then? Chicago is for you. Or come to San Francisco... actually, on second thought, don't come to San Francisco.</p>
  <p>My rent is already too high</p>
  <form action="/campus" method="POST">
    <select name="campus">
      <option value="New York">New York</option>
      <option value="Chicago">Chicago</option>
      <option value="San Diego">San Diego</option>
      <option value="San Francisco">San Francisco</option>
      <option value="Omaha">Omaha</option>
      <option value="Santa Fe">Santa Fe</option>
    </select>
    <button type="submit">Save</button>
  </form>
</body>
</html>